[Unit]
Description=Reckon Local Service
Requires=docker.service
After=docker.service

[Service]
Environment="API_URL=http://localhost:8000"
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/reckon/reckon
ExecStart=sh /home/reckon/reckon/scripts/azure/startwebserver.sh
ExecStop=sh /home/reckon/reckon/scripts/azure/stopwebserver.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target